<html>
  <head>
    <link rel="icon" href="/favicon.png">
    <title>Index Page | Index </title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#" class="active">HOME</a></li>
        <li><a href="./about">ABOUT</a></li>
      </ul>
    </nav>
    <h1>Lab 8</h1>
    <h2>Python Template</h2>
		<h3>Flask HowTo Site</h3>
    <button class="dark-button" onclick="DarkMode()"><img class="dark-image" src="imgs/favicon.png"></button>
  </body>
  <link href="./style.css" rel="stylesheet">
  <script src="./script.js"></script>
</html>